/* main body */
.chatPage {
    background-color: rgb(14, 11, 11);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer {
    background-color: white;
    height: 60%;
    width: 50%;
}

/* header */
.header {
    background-color:  rgb(86, 162, 255);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vmax;
}

.header>h2 {
    color: white;
    font-size: 2vmax;
}

.header img {
    transition: all 0.3s;
    transform: scale(1.5);
}

.header img:hover {
    transform: scale(1.8);
    cursor: pointer;
}

/* chat box area */
.chatBox {
    /* border :0.2vmax solid black; */
    height: 80%;
    box-sizing: border-box;
    padding-top: 0.4vmax;
    /* overflow-y: auto; */
}

/* input area */
.inputBox {
    /* border: 1px solid yellow; */
    height: fit-content;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

#chatInput {

    width: 80%;
    border: none;
    outline: none;
    padding: 1.2vmax;
    box-sizing: border-box;
    background-color: rgb(232, 243, 255);
    border-top: 0.2vmax solid rgba(57, 57, 57, 0.466);
}

.sendBtn {
    background-color:  rgb(86, 162, 255);
    color: white;
    border: none;
    width: 21%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendBtn>img {
    width: 2.5vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}

.sendBtn:hover {
    background-color: rgb(65, 139, 251);
}

.sendBtn:hover img {
    transform: translateX(5px);
}